In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
cause_data_to_load = "causes_of_death.csv"
prevalence_data_to_load = "U.S._Chronic_Disease_Indicators_v2.csv"

In [2]:
cause_data_df = pd.read_csv(cause_data_to_load)
prevalence_data_df = pd.read_csv(prevalence_data_to_load)
cause_data_df.head()

,Year,Cause Name 113,Cause Name,State,Deaths,Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8

In [3]:
prevalence_data_df.head()

,YearStart,LocationDesc,DataSource,Topic,Adj Topic,Question,Response,DataValueUnit,DataValueType,DataValue,DataValueAlt
0,2015,Alaska,BRFSS,Chronic Kidney Disease,Kidney Disease,Prevalence of chronic kidney disease among adu...,NaN,%,Age-adjusted Prevalence,2.1,2.1
1,2015,Alabama,BRFSS,Chronic Kidney Disease,Kidney Disease,Prevalence of chronic kidney disease among adu...,NaN,%,Age-adjusted Prevalence,2.6,2.6
2,2015,Arkansas,BRFSS,Chronic Kidney Disease,Kidney Disease,Prevalence of chronic kidney disease among adu...,NaN,%,Age-adjusted Prevalence,3.0,3.0
3,2015,Arizona,BRFSS,Chronic Kidney Disease,Kidney Disease,Prevalence of chronic kidney disease among adu...,NaN,%,Age-adjusted Prevalence,3.5,3.5
4,2015,California,BRFSS,Chronic Kidney Disease,Kidney Disease,Prevalence of chronic kidney disease among adu...,NaN,%,Age-adjusted Prevalence,2.3,2.3

In [5]:
cause_data_df = cause_data_df.drop(columns ='Cause Name 113')
cause_data_df

       Year              Cause Name          State  Deaths  Death Rate
0      2017  Unintentional injuries  United States  169936        49.4
1      2017  Unintentional injuries        Alabama    2703        53.8
2      2017  Unintentional injuries         Alaska     436        63.7
3      2017  Unintentional injuries        Arizona    4184        56.2
4      2017  Unintentional injuries       Arkansas    1625        51.8
...     ...                     ...            ...     ...         ...
10863  1999          Kidney disease       Virginia    1035        16.9
10864  1999          Kidney disease     Washington     278         5.2
10865  1999          Kidney disease  West Virginia     345        16.4
10866  1999          Kidney disease      Wisconsin     677        11.9
10867  1999          Kidney disease        Wyoming      30         6.8

[10868 rows x 5 columns]

In [6]:
kidney_diease_deaths_df = cause_data_df[cause_data_df['Cause Name'] == 'Kidney disease']
kidney_diease_deaths_df

       Year      Cause Name          State  Deaths  Death Rate
521    2017  Kidney disease  United States   50633        13.0
522    2017  Kidney disease        Alabama     980        16.5
523    2017  Kidney disease         Alaska      54         9.9
524    2017  Kidney disease        Arizona     540         6.2
525    2017  Kidney disease       Arkansas     725        19.7
...     ...             ...            ...     ...         ...
10863  1999  Kidney disease       Virginia    1035        16.9
10864  1999  Kidney disease     Washington     278         5.2
10865  1999  Kidney disease  West Virginia     345        16.4
10866  1999  Kidney disease      Wisconsin     677        11.9
10867  1999  Kidney disease        Wyoming      30         6.8

[988 rows x 5 columns]

In [7]:
Alzheimers_diease_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "Alzheimer's disease"]
Alzheimers_diease_deaths_df

       Year           Cause Name          State  Deaths  Death Rate
104    2017  Alzheimer's disease  United States  121404        31.0
105    2017  Alzheimer's disease        Alabama    2563        45.2
106    2017  Alzheimer's disease         Alaska      98        22.1
107    2017  Alzheimer's disease        Arizona    3058        35.1
108    2017  Alzheimer's disease       Arkansas    1436        39.4
...     ...                  ...            ...     ...         ...
10447  1999  Alzheimer's disease       Virginia     917        15.9
10448  1999  Alzheimer's disease     Washington    1577        29.8
10449  1999  Alzheimer's disease  West Virginia     314        15.0
10450  1999  Alzheimer's disease      Wisconsin    1170        19.9
10451  1999  Alzheimer's disease        Wyoming     103        23.9

[988 rows x 5 columns]

In [8]:
Stroke_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "Stroke"]
Stroke_deaths_df

       Year Cause Name          State  Deaths  Death Rate
156    2017     Stroke  United States  146383        37.6
157    2017     Stroke        Alabama    2931        50.0
158    2017     Stroke         Alaska     190        35.1
159    2017     Stroke        Arizona    2681        30.8
160    2017     Stroke       Arkansas    1612        43.8
...     ...        ...            ...     ...         ...
10499  1999     Stroke       Virginia    4110        68.7
10500  1999     Stroke     Washington    3718        69.9
10501  1999     Stroke  West Virginia    1323        63.1
10502  1999     Stroke      Wisconsin    3869        67.5
10503  1999     Stroke        Wyoming     265        60.7

[988 rows x 5 columns]

In [9]:
CLRD_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "CLRD"]
CLRD_deaths_df

       Year Cause Name          State  Deaths  Death Rate
208    2017       CLRD  United States  160201        40.9
209    2017       CLRD        Alabama    3484        57.8
210    2017       CLRD         Alaska     204        35.9
211    2017       CLRD        Arizona    3802        42.7
212    2017       CLRD       Arkansas    2517        66.7
...     ...        ...            ...     ...         ...
10551  1999       CLRD       Virginia    2699        43.8
10552  1999       CLRD     Washington    2713        51.2
10553  1999       CLRD  West Virginia    1236        57.9
10554  1999       CLRD      Wisconsin    2270        40.5
10555  1999       CLRD        Wyoming     338        75.6

[988 rows x 5 columns]

In [10]:
Diabetes_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "Diabetes"]
Diabetes_deaths_df

In [11]:
Diabetes_deaths_df

       Year Cause Name          State  Deaths  Death Rate
260    2017   Diabetes  United States   83564        21.5
261    2017   Diabetes        Alabama    1173        19.8
262    2017   Diabetes         Alaska     130        19.3
263    2017   Diabetes        Arizona    2054        23.7
264    2017   Diabetes       Arkansas    1180        32.4
...     ...        ...            ...     ...         ...
10603  1999   Diabetes       Virginia    1486        23.6
10604  1999   Diabetes     Washington    1307        24.5
10605  1999   Diabetes  West Virginia     734        34.8
10606  1999   Diabetes      Wisconsin    1273        22.9
10607  1999   Diabetes        Wyoming     135        29.8

[988 rows x 5 columns]

In [12]:
Heart_disease_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "Heart disease"]
Heart_disease_deaths_df

       Year     Cause Name          State  Deaths  Death Rate
312    2017  Heart disease  United States  647457       165.0
313    2017  Heart disease        Alabama   13110       223.2
314    2017  Heart disease         Alaska     814       135.0
315    2017  Heart disease        Arizona   12398       141.9
316    2017  Heart disease       Arkansas    8270       223.8
...     ...            ...            ...     ...         ...
10655  1999  Heart disease       Virginia   15329       250.9
10656  1999  Heart disease     Washington   11515       215.7
10657  1999  Heart disease  West Virginia    6822       325.5
10658  1999  Heart disease      Wisconsin   13827       243.7
10659  1999  Heart disease        Wyoming    1009       227.8

[988 rows x 5 columns]

In [13]:
Influenza_and_pneumoniae_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "Influenza and pneumonia"]
Influenza_and_pneumoniae_deaths_df

       Year               Cause Name          State  Deaths  Death Rate
364    2017  Influenza and pneumonia  United States   55672        14.3
365    2017  Influenza and pneumonia        Alabama    1176        20.2
366    2017  Influenza and pneumonia         Alaska      66        11.7
367    2017  Influenza and pneumonia        Arizona     876        10.1
368    2017  Influenza and pneumonia       Arkansas     720        19.8
...     ...                      ...            ...     ...         ...
10708  1999  Influenza and pneumonia       Virginia    1594        27.1
10709  1999  Influenza and pneumonia     Washington    1259        23.7
10710  1999  Influenza and pneumonia  West Virginia     520        25.0
10711  1999  Influenza and pneumonia      Wisconsin    1425        24.6
10712  1999  Influenza and pneumonia        Wyoming     130        30.0

[988 rows x 5 columns]

In [14]:
Suicide_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "Suicide"]
Suicide_deaths_df

       Year Cause Name          State  Deaths  Death Rate
416    2017    Suicide  United States   47173        14.0
417    2017    Suicide        Alabama     836        16.6
418    2017    Suicide         Alaska     200        27.0
419    2017    Suicide        Arizona    1327        18.2
420    2017    Suicide       Arkansas     631        20.8
...     ...        ...            ...     ...         ...
10760  1999    Suicide       Virginia     791        11.2
10761  1999    Suicide     Washington     816        14.0
10762  1999    Suicide  West Virginia     229        12.1
10763  1999    Suicide      Wisconsin     593        11.1
10764  1999    Suicide        Wyoming      98        20.3

[988 rows x 5 columns]

In [15]:
Cancer_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "Cancer"]
Cancer_deaths_df

       Year Cause Name          State  Deaths  Death Rate
469    2017     Cancer  United States  599108       152.5
470    2017     Cancer        Alabama   10410       170.0
471    2017     Cancer         Alaska     926       139.2
472    2017     Cancer        Arizona   12008       135.8
473    2017     Cancer       Arkansas    6517       173.6
...     ...        ...            ...     ...         ...
10811  1999     Cancer       Virginia   13365       209.1
10812  1999     Cancer     Washington   10653       198.3
10813  1999     Cancer  West Virginia    4762       225.1
10814  1999     Cancer      Wisconsin   10755       195.5
10815  1999     Cancer        Wyoming     899       195.1

[988 rows x 5 columns]

In [16]:
Unintentional_injuries_deaths_df = cause_data_df[cause_data_df['Cause Name'] == "Unintentional injuries"]
Unintentional_injuries_deaths_df

       Year              Cause Name          State  Deaths  Death Rate
0      2017  Unintentional injuries  United States  169936        49.4
1      2017  Unintentional injuries        Alabama    2703        53.8
2      2017  Unintentional injuries         Alaska     436        63.7
3      2017  Unintentional injuries        Arizona    4184        56.2
4      2017  Unintentional injuries       Arkansas    1625        51.8
...     ...                     ...            ...     ...         ...
10344  1999  Unintentional injuries       Virginia    2214        33.2
10345  1999  Unintentional injuries     Washington    1914        33.3
10346  1999  Unintentional injuries  West Virginia     798        42.0
10347  1999  Unintentional injuries      Wisconsin    1955        35.6
10348  1999  Unintentional injuries        Wyoming     258        52.8

[988 rows x 5 columns]

In [32]:
final_causes_df = pd.merge(kidney_diease_deaths_df, Alzheimers_diease_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df

,Year,Cause Name_x,State,Deaths_x,Death Rate_x,Cause Name_y,Deaths_y,Death Rate_y
0,2017,Kidney disease,United States,50633,13.0,Alzheimer's disease,121404,31.0
1,2017,Kidney disease,Alabama,980,16.5,Alzheimer's disease,2563,45.2
2,2017,Kidney disease,Alaska,54,9.9,Alzheimer's disease,98,22.1
3,2017,Kidney disease,Arizona,540,6.2,Alzheimer's disease,3058,35.1
4,2017,Kidney disease,Arkansas,725,19.7,Alzheimer's disease,1436,39.4
...,...,...,...,...,...,...,...,...
983,1999,Kidney disease,Virginia,1035,16.9,Alzheimer's disease,917,15.9
984,1999,Kidney disease,Washington,278,5.2,Alzheimer's disease,1577,29.8
985,1999,Kidney disease,West Virginia,345,16.4,Alzheimer's disease,314,15.0
986,1999,Kidney disease,Wisconsin,677,11.9,Alzheimer's disease,1170,19.9
987,1999,Kidney disease,Wyoming,30,6.8,Alzheimer's disease,103,23.9

In [33]:
final_causes_df.rename(columns = {'Deaths_x' : 'Kidney disease Deaths'}, inplace = True)

final_causes_df

,Year,Cause Name_x,State,Kidney disease Deaths,Death Rate_x,Cause Name_y,Deaths_y,Death Rate_y
0,2017,Kidney disease,United States,50633,13.0,Alzheimer's disease,121404,31.0
1,2017,Kidney disease,Alabama,980,16.5,Alzheimer's disease,2563,45.2
2,2017,Kidney disease,Alaska,54,9.9,Alzheimer's disease,98,22.1
3,2017,Kidney disease,Arizona,540,6.2,Alzheimer's disease,3058,35.1
4,2017,Kidney disease,Arkansas,725,19.7,Alzheimer's disease,1436,39.4
...,...,...,...,...,...,...,...,...
983,1999,Kidney disease,Virginia,1035,16.9,Alzheimer's disease,917,15.9
984,1999,Kidney disease,Washington,278,5.2,Alzheimer's disease,1577,29.8
985,1999,Kidney disease,West Virginia,345,16.4,Alzheimer's disease,314,15.0
986,1999,Kidney disease,Wisconsin,677,11.9,Alzheimer's disease,1170,19.9
987,1999,Kidney disease,Wyoming,30,6.8,Alzheimer's disease,103,23.9

In [34]:
final_causes_df.rename(columns = {'Death Rate_x' : 'Kidney disease Death rate'}, inplace = True)

In [35]:
final_causes_df.rename(columns = {'Deaths_y' : 'Alzheimers disease Deaths'}, inplace = True)

In [36]:
final_causes_df.rename(columns = {'Death Rate_y' : 'Alzheimers disease Death rate'}, inplace = True)
final_causes_df

,Year,Cause Name_x,State,Kidney disease Deaths,Kidney disease Death rate,Cause Name_y,Alzheimers disease Deaths,Alzheimers disease Death rate
0,2017,Kidney disease,United States,50633,13.0,Alzheimer's disease,121404,31.0
1,2017,Kidney disease,Alabama,980,16.5,Alzheimer's disease,2563,45.2
2,2017,Kidney disease,Alaska,54,9.9,Alzheimer's disease,98,22.1
3,2017,Kidney disease,Arizona,540,6.2,Alzheimer's disease,3058,35.1
4,2017,Kidney disease,Arkansas,725,19.7,Alzheimer's disease,1436,39.4
...,...,...,...,...,...,...,...,...
983,1999,Kidney disease,Virginia,1035,16.9,Alzheimer's disease,917,15.9
984,1999,Kidney disease,Washington,278,5.2,Alzheimer's disease,1577,29.8
985,1999,Kidney disease,West Virginia,345,16.4,Alzheimer's disease,314,15.0
986,1999,Kidney disease,Wisconsin,677,11.9,Alzheimer's disease,1170,19.9
987,1999,Kidney disease,Wyoming,30,6.8,Alzheimer's disease,103,23.9

In [39]:
final_causes_df = final_causes_df.drop(columns ='Cause Name_x')
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Cause Name_y,Alzheimers disease Deaths,Alzheimers disease Death rate
0,2017,United States,50633,13.0,Alzheimer's disease,121404,31.0
1,2017,Alabama,980,16.5,Alzheimer's disease,2563,45.2
2,2017,Alaska,54,9.9,Alzheimer's disease,98,22.1
3,2017,Arizona,540,6.2,Alzheimer's disease,3058,35.1
4,2017,Arkansas,725,19.7,Alzheimer's disease,1436,39.4
...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,Alzheimer's disease,917,15.9
984,1999,Washington,278,5.2,Alzheimer's disease,1577,29.8
985,1999,West Virginia,345,16.4,Alzheimer's disease,314,15.0
986,1999,Wisconsin,677,11.9,Alzheimer's disease,1170,19.9
987,1999,Wyoming,30,6.8,Alzheimer's disease,103,23.9

In [40]:
final_causes_df = final_causes_df.drop(columns ='Cause Name_y')
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate
0,2017,United States,50633,13.0,121404,31.0
1,2017,Alabama,980,16.5,2563,45.2
2,2017,Alaska,54,9.9,98,22.1
3,2017,Arizona,540,6.2,3058,35.1
4,2017,Arkansas,725,19.7,1436,39.4
...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9
984,1999,Washington,278,5.2,1577,29.8
985,1999,West Virginia,345,16.4,314,15.0
986,1999,Wisconsin,677,11.9,1170,19.9
987,1999,Wyoming,30,6.8,103,23.9

In [41]:
final_causes_df = pd.merge(final_causes_df, Stroke_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Cause Name,Deaths,Death Rate
0,2017,United States,50633,13.0,121404,31.0,Stroke,146383,37.6
1,2017,Alabama,980,16.5,2563,45.2,Stroke,2931,50.0
2,2017,Alaska,54,9.9,98,22.1,Stroke,190,35.1
3,2017,Arizona,540,6.2,3058,35.1,Stroke,2681,30.8
4,2017,Arkansas,725,19.7,1436,39.4,Stroke,1612,43.8
...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,Stroke,4110,68.7
984,1999,Washington,278,5.2,1577,29.8,Stroke,3718,69.9
985,1999,West Virginia,345,16.4,314,15.0,Stroke,1323,63.1
986,1999,Wisconsin,677,11.9,1170,19.9,Stroke,3869,67.5
987,1999,Wyoming,30,6.8,103,23.9,Stroke,265,60.7

In [42]:
final_causes_df = pd.merge(final_causes_df, CLRD_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Cause Name_x,Deaths_x,Death Rate_x,Cause Name_y,Deaths_y,Death Rate_y
0,2017,United States,50633,13.0,121404,31.0,Stroke,146383,37.6,CLRD,160201,40.9
1,2017,Alabama,980,16.5,2563,45.2,Stroke,2931,50.0,CLRD,3484,57.8
2,2017,Alaska,54,9.9,98,22.1,Stroke,190,35.1,CLRD,204,35.9
3,2017,Arizona,540,6.2,3058,35.1,Stroke,2681,30.8,CLRD,3802,42.7
4,2017,Arkansas,725,19.7,1436,39.4,Stroke,1612,43.8,CLRD,2517,66.7
...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,Stroke,4110,68.7,CLRD,2699,43.8
984,1999,Washington,278,5.2,1577,29.8,Stroke,3718,69.9,CLRD,2713,51.2
985,1999,West Virginia,345,16.4,314,15.0,Stroke,1323,63.1,CLRD,1236,57.9
986,1999,Wisconsin,677,11.9,1170,19.9,Stroke,3869,67.5,CLRD,2270,40.5
987,1999,Wyoming,30,6.8,103,23.9,Stroke,265,60.7,CLRD,338,75.6

In [44]:
final_causes_df.rename(columns = {'Deaths_x' : 'Stroke Deaths'}, inplace = True)
final_causes_df.rename(columns = {'Death Rate_x' : 'Stroke Death rate'}, inplace = True)
final_causes_df.rename(columns = {'Deaths_y' : 'CLRD Deaths'}, inplace = True)
final_causes_df.rename(columns = {'Death Rate_y' : 'CLRD Death rate'}, inplace = True)
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Cause Name_x,Stroke Deaths,Stroke Death rate,Cause Name_y,CLRD Deaths,CLRD Death rate
0,2017,United States,50633,13.0,121404,31.0,Stroke,146383,37.6,CLRD,160201,40.9
1,2017,Alabama,980,16.5,2563,45.2,Stroke,2931,50.0,CLRD,3484,57.8
2,2017,Alaska,54,9.9,98,22.1,Stroke,190,35.1,CLRD,204,35.9
3,2017,Arizona,540,6.2,3058,35.1,Stroke,2681,30.8,CLRD,3802,42.7
4,2017,Arkansas,725,19.7,1436,39.4,Stroke,1612,43.8,CLRD,2517,66.7
...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,Stroke,4110,68.7,CLRD,2699,43.8
984,1999,Washington,278,5.2,1577,29.8,Stroke,3718,69.9,CLRD,2713,51.2
985,1999,West Virginia,345,16.4,314,15.0,Stroke,1323,63.1,CLRD,1236,57.9
986,1999,Wisconsin,677,11.9,1170,19.9,Stroke,3869,67.5,CLRD,2270,40.5
987,1999,Wyoming,30,6.8,103,23.9,Stroke,265,60.7,CLRD,338,75.6

In [45]:
final_causes_df = final_causes_df.drop(columns ='Cause Name_x')
final_causes_df = final_causes_df.drop(columns ='Cause Name_y')

In [46]:
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7
...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6

In [47]:
final_causes_df = pd.merge(final_causes_df, Diabetes_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,Cause Name,Deaths,Death Rate
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,Diabetes,83564,21.5
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,Diabetes,1173,19.8
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,Diabetes,130,19.3
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,Diabetes,2054,23.7
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,Diabetes,1180,32.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,Diabetes,1486,23.6
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,Diabetes,1307,24.5
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,Diabetes,734,34.8
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,Diabetes,1273,22.9
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,Diabetes,135,29.8

In [48]:
final_causes_df = pd.merge(final_causes_df, Heart_disease_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,Cause Name_x,Deaths_x,Death Rate_x,Cause Name_y,Deaths_y,Death Rate_y
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,Diabetes,83564,21.5,Heart disease,647457,165.0
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,Diabetes,1173,19.8,Heart disease,13110,223.2
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,Diabetes,130,19.3,Heart disease,814,135.0
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,Diabetes,2054,23.7,Heart disease,12398,141.9
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,Diabetes,1180,32.4,Heart disease,8270,223.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,Diabetes,1486,23.6,Heart disease,15329,250.9
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,Diabetes,1307,24.5,Heart disease,11515,215.7
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,Diabetes,734,34.8,Heart disease,6822,325.5
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,Diabetes,1273,22.9,Heart disease,13827,243.7
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,Diabetes,135,29.8,Heart disease,1009,227.8

In [49]:
final_causes_df.rename(columns = {'Deaths_x' : 'Diabetes Deaths'}, inplace = True)
final_causes_df.rename(columns = {'Death Rate_x' : 'Diabetes Death rate'}, inplace = True)
final_causes_df.rename(columns = {'Deaths_y' : 'Heart disease Deaths'}, inplace = True)
final_causes_df.rename(columns = {'Death Rate_y' : 'Heart disease Death rate'}, inplace = True)
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,Cause Name_x,Diabetes Deaths,Diabetes Death rate,Cause Name_y,Heart disease Deaths,Heart disease Death rate
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,Diabetes,83564,21.5,Heart disease,647457,165.0
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,Diabetes,1173,19.8,Heart disease,13110,223.2
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,Diabetes,130,19.3,Heart disease,814,135.0
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,Diabetes,2054,23.7,Heart disease,12398,141.9
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,Diabetes,1180,32.4,Heart disease,8270,223.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,Diabetes,1486,23.6,Heart disease,15329,250.9
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,Diabetes,1307,24.5,Heart disease,11515,215.7
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,Diabetes,734,34.8,Heart disease,6822,325.5
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,Diabetes,1273,22.9,Heart disease,13827,243.7
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,Diabetes,135,29.8,Heart disease,1009,227.8

In [50]:
final_causes_df = final_causes_df.drop(columns ='Cause Name_x')
final_causes_df = final_causes_df.drop(columns ='Cause Name_y')

In [51]:
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,Diabetes Deaths,Diabetes Death rate,Heart disease Deaths,Heart disease Death rate
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,83564,21.5,647457,165.0
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,1173,19.8,13110,223.2
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,130,19.3,814,135.0
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,2054,23.7,12398,141.9
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,1180,32.4,8270,223.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,1486,23.6,15329,250.9
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,1307,24.5,11515,215.7
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,734,34.8,6822,325.5
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,1273,22.9,13827,243.7
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,135,29.8,1009,227.8

In [52]:
final_causes_df = pd.merge(final_causes_df, Influenza_and_pneumoniae_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,Diabetes Deaths,Diabetes Death rate,Heart disease Deaths,Heart disease Death rate,Cause Name,Deaths,Death Rate
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,83564,21.5,647457,165.0,Influenza and pneumonia,55672,14.3
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,1173,19.8,13110,223.2,Influenza and pneumonia,1176,20.2
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,130,19.3,814,135.0,Influenza and pneumonia,66,11.7
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,2054,23.7,12398,141.9,Influenza and pneumonia,876,10.1
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,1180,32.4,8270,223.8,Influenza and pneumonia,720,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,1486,23.6,15329,250.9,Influenza and pneumonia,1594,27.1
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,1307,24.5,11515,215.7,Influenza and pneumonia,1259,23.7
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,734,34.8,6822,325.5,Influenza and pneumonia,520,25.0
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,1273,22.9,13827,243.7,Influenza and pneumonia,1425,24.6
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,135,29.8,1009,227.8,Influenza and pneumonia,130,30.0

In [53]:
final_causes_df = pd.merge(final_causes_df, Suicide_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,Diabetes Deaths,Diabetes Death rate,Heart disease Deaths,Heart disease Death rate,Cause Name_x,Deaths_x,Death Rate_x,Cause Name_y,Deaths_y,Death Rate_y
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,83564,21.5,647457,165.0,Influenza and pneumonia,55672,14.3,Suicide,47173,14.0
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,1173,19.8,13110,223.2,Influenza and pneumonia,1176,20.2,Suicide,836,16.6
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,130,19.3,814,135.0,Influenza and pneumonia,66,11.7,Suicide,200,27.0
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,2054,23.7,12398,141.9,Influenza and pneumonia,876,10.1,Suicide,1327,18.2
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,1180,32.4,8270,223.8,Influenza and pneumonia,720,19.8,Suicide,631,20.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,1486,23.6,15329,250.9,Influenza and pneumonia,1594,27.1,Suicide,791,11.2
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,1307,24.5,11515,215.7,Influenza and pneumonia,1259,23.7,Suicide,816,14.0
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,734,34.8,6822,325.5,Influenza and pneumonia,520,25.0,Suicide,229,12.1
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,1273,22.9,13827,243.7,Influenza and pneumonia,1425,24.6,Suicide,593,11.1
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,135,29.8,1009,227.8,Influenza and pneumonia,130,30.0,Suicide,98,20.3

In [54]:
final_causes_df.rename(columns = {'Deaths_x' : 'Influenze and Pneu Deaths'}, inplace = True)
final_causes_df.rename(columns = {'Death Rate_x' : 'Influenze and Pneu Death rate'}, inplace = True)
final_causes_df.rename(columns = {'Deaths_y' : 'Suicide Deaths'}, inplace = True)
final_causes_df.rename(columns = {'Death Rate_y' : 'Suicide Death rate'}, inplace = True)
final_causes_df = final_causes_df.drop(columns ='Cause Name_x')
final_causes_df = final_causes_df.drop(columns ='Cause Name_y')
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,Diabetes Deaths,Diabetes Death rate,Heart disease Deaths,Heart disease Death rate,Influenze and Pneu Deaths,Influenze and Pneu Death rate,Suicide Deaths,Suicide Death rate
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,83564,21.5,647457,165.0,55672,14.3,47173,14.0
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,1173,19.8,13110,223.2,1176,20.2,836,16.6
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,130,19.3,814,135.0,66,11.7,200,27.0
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,2054,23.7,12398,141.9,876,10.1,1327,18.2
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,1180,32.4,8270,223.8,720,19.8,631,20.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,1486,23.6,15329,250.9,1594,27.1,791,11.2
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,1307,24.5,11515,215.7,1259,23.7,816,14.0
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,734,34.8,6822,325.5,520,25.0,229,12.1
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,1273,22.9,13827,243.7,1425,24.6,593,11.1
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,135,29.8,1009,227.8,130,30.0,98,20.3

In [55]:
final_causes_df = pd.merge(final_causes_df, Cancer_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df = pd.merge(final_causes_df, Unintentional_injuries_deaths_df, how = 'left', on = ['Year', 'State'])
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,...,Influenze and Pneu Deaths,Influenze and Pneu Death rate,Suicide Deaths,Suicide Death rate,Cause Name_x,Deaths_x,Death Rate_x,Cause Name_y,Deaths_y,Death Rate_y
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,...,55672,14.3,47173,14.0,Cancer,599108,152.5,Unintentional injuries,169936,49.4
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,...,1176,20.2,836,16.6,Cancer,10410,170.0,Unintentional injuries,2703,53.8
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,...,66,11.7,200,27.0,Cancer,926,139.2,Unintentional injuries,436,63.7
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,...,876,10.1,1327,18.2,Cancer,12008,135.8,Unintentional injuries,4184,56.2
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,...,720,19.8,631,20.8,Cancer,6517,173.6,Unintentional injuries,1625,51.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,...,1594,27.1,791,11.2,Cancer,13365,209.1,Unintentional injuries,2214,33.2
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,...,1259,23.7,816,14.0,Cancer,10653,198.3,Unintentional injuries,1914,33.3
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,...,520,25.0,229,12.1,Cancer,4762,225.1,Unintentional injuries,798,42.0
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,...,1425,24.6,593,11.1,Cancer,10755,195.5,Unintentional injuries,1955,35.6
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,...,130,30.0,98,20.3,Cancer,899,195.1,Unintentional injuries,258,52.8

In [56]:
final_causes_df.rename(columns = {'Deaths_x' : 'Cancer Deaths'}, inplace = True)
final_causes_df.rename(columns = {'Death Rate_x' : 'Cancer Death rate'}, inplace = True)
final_causes_df.rename(columns = {'Deaths_y' : 'Unintentional Injury Deaths'}, inplace = True)
final_causes_df.rename(columns = {'Death Rate_y' : 'Unintentional Injury Death rate'}, inplace = True)
final_causes_df = final_causes_df.drop(columns ='Cause Name_x')
final_causes_df = final_causes_df.drop(columns ='Cause Name_y')
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,...,Heart disease Deaths,Heart disease Death rate,Influenze and Pneu Deaths,Influenze and Pneu Death rate,Suicide Deaths,Suicide Death rate,Cancer Deaths,Cancer Death rate,Unintentional Injury Deaths,Unintentional Injury Death rate
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,...,647457,165.0,55672,14.3,47173,14.0,599108,152.5,169936,49.4
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,...,13110,223.2,1176,20.2,836,16.6,10410,170.0,2703,53.8
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,...,814,135.0,66,11.7,200,27.0,926,139.2,436,63.7
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,...,12398,141.9,876,10.1,1327,18.2,12008,135.8,4184,56.2
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,...,8270,223.8,720,19.8,631,20.8,6517,173.6,1625,51.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,...,15329,250.9,1594,27.1,791,11.2,13365,209.1,2214,33.2
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,...,11515,215.7,1259,23.7,816,14.0,10653,198.3,1914,33.3
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,...,6822,325.5,520,25.0,229,12.1,4762,225.1,798,42.0
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,...,13827,243.7,1425,24.6,593,11.1,10755,195.5,1955,35.6
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,...,1009,227.8,130,30.0,98,20.3,899,195.1,258,52.8

In [66]:
final_causes_df

,Year,State,Kidney disease Deaths,Kidney disease Death rate,Alzheimers disease Deaths,Alzheimers disease Death rate,Stroke Deaths,Stroke Death rate,CLRD Deaths,CLRD Death rate,...,Heart disease Deaths,Heart disease Death rate,Influenze and Pneu Deaths,Influenze and Pneu Death rate,Suicide Deaths,Suicide Death rate,Cancer Deaths,Cancer Death rate,Unintentional Injury Deaths,Unintentional Injury Death rate
0,2017,United States,50633,13.0,121404,31.0,146383,37.6,160201,40.9,...,647457,165.0,55672,14.3,47173,14.0,599108,152.5,169936,49.4
1,2017,Alabama,980,16.5,2563,45.2,2931,50.0,3484,57.8,...,13110,223.2,1176,20.2,836,16.6,10410,170.0,2703,53.8
2,2017,Alaska,54,9.9,98,22.1,190,35.1,204,35.9,...,814,135.0,66,11.7,200,27.0,926,139.2,436,63.7
3,2017,Arizona,540,6.2,3058,35.1,2681,30.8,3802,42.7,...,12398,141.9,876,10.1,1327,18.2,12008,135.8,4184,56.2
4,2017,Arkansas,725,19.7,1436,39.4,1612,43.8,2517,66.7,...,8270,223.8,720,19.8,631,20.8,6517,173.6,1625,51.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1999,Virginia,1035,16.9,917,15.9,4110,68.7,2699,43.8,...,15329,250.9,1594,27.1,791,11.2,13365,209.1,2214,33.2
984,1999,Washington,278,5.2,1577,29.8,3718,69.9,2713,51.2,...,11515,215.7,1259,23.7,816,14.0,10653,198.3,1914,33.3
985,1999,West Virginia,345,16.4,314,15.0,1323,63.1,1236,57.9,...,6822,325.5,520,25.0,229,12.1,4762,225.1,798,42.0
986,1999,Wisconsin,677,11.9,1170,19.9,3869,67.5,2270,40.5,...,13827,243.7,1425,24.6,593,11.1,10755,195.5,1955,35.6
987,1999,Wyoming,30,6.8,103,23.9,265,60.7,338,75.6,...,1009,227.8,130,30.0,98,20.3,899,195.1,258,52.8

In [69]:
final_causes_df.to_csv('final_causes.csv')